[Unit]
Description=NodeJS app
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/bitnami/app
ExecStart=/opt/bitnami/nodejs/bin/npm start

[Install]
WantedBy=multi-user.target

